<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>127491625837-jga918rql6lt6u4nf6k9arenosa8gri1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.127491625837-jga918rql6lt6u4nf6k9arenosa8gri1</string>
	<key>API_KEY</key>
	<string>AIzaSyDirEZwViJkaHxTg3iC8O4Z3AmkXCtwTso</string>
	<key>GCM_SENDER_ID</key>
	<string>127491625837</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rcKolesa</string>
	<key>PROJECT_ID</key>
	<string>kolesa-c00a2</string>
	<key>STORAGE_BUCKET</key>
	<string>kolesa-c00a2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:127491625837:ios:0821c528687e66dc3ec064</string>
</dict>
</plist>